/* Estilos para el menú */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.menu {
  text-align: center;
  background-color: #000 !important; /* Asegúrate de que el color de fondo sea negro */
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.menu ul li:last-child {
  margin-right: 0;
}
.menu ul li a {
  color: #fff; /* Color del texto */
  text-decoration: none;
  border: 1px solid transparent; /* Borde inicialmente transparente */
  border-radius: 5px;
  padding: 8px 15px;
  transition: border-color 0.3s, color 0.3s; /* Transición suave para el cambio de color del borde y texto */
}
.menu ul li a:hover {
  background-color: #343a40; /* Color de fondo al pasar el mouse */
  border-color: #36beff; /* Color del borde al pasar el mouse */
}
/* Estilos para los botones del menú */
.menu .navbar-nav .nav-link {
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu .navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos para el contenido */
.container {
  max-width: 1140px;
  margin: auto;
  padding: 15px;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 200px;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-image {
  flex: 1;
  margin-right: 15px;
}

.left-image img {
  max-width: 100%;
  height: auto;
}

.register-form {
  flex: 1;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.register-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.register-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.footer {
  text-align: center;
  margin-top: 20px;
  background-color: #000 !important; /* Asegúrate de que el color de fondo sea negro */
  padding: 20px 0; /* Añade un poco de espacio entre los elementos del footer */
}
.footer {
  text-align: center;
  margin-top: 20px;
  background-color: #000 !important; /* Asegúrate de que el color de fondo sea negro */
  padding: 20px 0; /* Añade un poco de espacio entre los elementos del footer */
}
.footer .nav-link {
  color: #fff; /* Color del texto */
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transición suave para el cambio de color del fondo, borde y texto */
}
.footer .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Color de fondo al pasar el mouse */
  border-color: #36beff !important; /* Color del borde al pasar el mouse */
  color: #fff !important; /* Color del texto al pasar el mouse */
}
